[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
sort_pipfile = true

[packages]
advent-of-code-data = "~=2.0.1"
mypy = "~=1.7.1"
pytest = "~=7.4.3"

[dev-packages]

[requires]
python_version = "3.11"
